* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.top-container {
    position: relative;
    background-color: #c94a01;
    width: 100%;
    height: 170px;
    display: flex;
    border: 2px solid black;
}

.top-container > div {
    flex: 1;
}

#top-container-logo{
    margin-left: 50px;
    margin-top: 15px;
}

.logo {
    width: 150px;
    height: 150px;
}

.search-box {
    margin-left: 80px;
    margin-top: 70px;
}

.search-box input {
    padding-left: 10px;
    height: 30px;
    width: 500px;
}

.nav-bar{
    margin-top: 120px;
    margin-left: 75px;
}

.movie-page-button {
    margin: 10px;
    color: white;
    text-decoration:none;
}

.tv-shows-page-button {
    margin: 10px;
    color: white;
    text-decoration:none;
}

.movie-trivia-page-button {
    margin: 10px;
    color: white;
    text-decoration:none;
}

.news-page-button {
    margin: 10px;
    color: white;
    text-decoration:none;
}

.showtimes-page-button {
    margin: 10px;
    color: white;
    text-decoration:none;
}

.middle-container{
    position: relative;
}

.wrapper {
    position: absolute;
    right: 0;
    left: 10px;
    width: 374px;
    height: 495px;
    text-align: center;
    border: 2px solid lightgray;
    background-color: lightgray;
}

.inside-wrapper{
    border: 2px solid lightgray;
    top: 30px;
    width: 370px;
    height: 460px;
    position: absolute;
    background-color: white;
}

.wrapper-buttons{
    position: relative;
    top: 7px;
}

.theaters-review-percentage{
    color: black;
    text-decoration: none;
}

.movies-review-percentage{
    color: black;
    margin: 25px;
    text-decoration: none;
}

.shows-review-percentage{
    color: black;
    text-decoration: none;
}

.main{
    position: relative;
    left: 400px;
    margin-top: 10px;
}

.poster{
    position: absolute;
    width: 250px;
    height: 320px;
    border: 2px solid black;
}

.movie-rating{
    position: absolute;
    left: 270px;
    width: 750px;
    height: 320px;
    border: 2px solid lightgray;
    background-color: lightgray;
    text-align: center;
    padding-top: 25px;
}

.what-to-know{
    position: absolute;
    top: 340px;
}

.what-to-know-text{
    color: black;
    border: 2px solid black;
    background-color: #c94a01;
    width: 1000px;
    padding-left: 20px;
}

.critics-consensus{
    margin-left: 20px;
    margin-top: 30px;
}

.critics-consensus-text{
    margin-bottom: 10px;
    font-size: 20px;
}

.critics-consensus-inside-text{
    font-size: 15px;
    color: gray;
}

.movie-info{
    position: absolute;
    top: 500px;
}

.movie-info-text{
    margin-bottom: 10px;
    color: black;
    border: 2px solid black;
    background-color: #c94a01;
    width: 1000px;
    padding-left: 20px;
}

.movie-desc{
    position: relative;
    left: 20px;
    margin-bottom: 20px;
    width: 1000px;
}

.movie-info-box{
    position: relative;
    left: 20px;
    width: 100%;
}

.movie-info-left{
    position: absolute;
    width: 400px;
    padding-right: 10px;
    text-align: right;
    color: grey;
}

.movie-info-right{
    position: absolute;
    width: 400px;
    left: 400px;
    padding-left: 10px;
    text-align: left;
}

.bottom-container{
    position: relative;
    top: 925px;
    height: 150px;
    background-color: #c94a01;
    border: 2px solid black;
    text-align: center;
}

.main-newsletter-text{
    margin-top: 25px;
    margin-bottom: 10px;
}

.newsletter-follow-up{
    margin-bottom: 20px;
}

.newsletter-btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #b1c5e8 5%, #56769e 100%);
	background-color:#b1c5e8;
	border-radius:10px;
	border:1px solid #8693ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    padding-top: 7px;
	font-family:Arial;
	font-size:19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}
.newsletter-btn:hover {
	background:linear-gradient(to bottom, #56769e 5%, #b1c5e8 100%);
	background-color:#56769e;
}
.newsletter-btn:active {
	position:relative;
	top:1px;
}

.movie-rating-percentage-wrapper{
    position: absolute;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

.movie-name-inside-wrapper{
    position: absolute;
    text-align: left;
    margin-left: 90px;
    margin-top: 20px;
    color: grey;
}